* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*// this was something new*/

body {
  background-color: rgb(122, 201, 201);
  height: 900px;
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  border: 2px solid black;
  flex-wrap: nowrap;
}

.flex-child-1 {
  background-color: yellow;
  white-space: nowrap;
}

.flex-child-2 {
  background-color: blue;
}

.flex-child-3 {
  background-color: red;
}

.parent-cell {
  width: 200px;
  overflow: hidden;
}
